@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins";
  box-sizing: border-box;
  transition: all 175ms cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body,
#root {
  min-width: 100vw;
}

@media (max-width: 768px) {
  .text-4xl {
    font-size: 2rem;
  }

  .text-3xl {
    font-size: 1.875rem;
  }

  .text-2xl {
    font-size: 1.5rem;
  }

  .px-24 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .p-36 {
    padding: 2rem;
  }

  .h-48 {
    height: 200px;
  }

  .container {
    flex-direction: column;
  }

  .flex {
    flex-direction: column;
  }

  .linkAfter::after {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
