@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'poppins';
}

img {
    @apply object-cover w-36 h-64 object-center
}

ul {
    transform-style: preserve-3d;
    transform: perspective(1500px);
}

li {
    @apply transition duration-300 ease-in-out brightness-0;
}

li:hover {
    @apply brightness-100;
    transform: translateZ(150px);
}

li:hover + li {
    @apply brightness-75;
    transform: translateZ(100px) rotateY(40deg);
}

li:hover + * + * {
    @apply brightness-50;
    transform: translateZ(75px) rotateY(20deg);
}

li:hover + * + * + * {
    @apply brightness-[.2];
    transform: translateZ(50px) rotateY(10deg);
}

li:has(+ *:hover) {
    @apply brightness-75;
    transform: translateZ(100px) rotateY(-40deg);
}

li:has(+ * + *:hover) {
    @apply brightness-50;
    transform: translateZ(75px) rotateY(-20deg);
}

li:has(+ * + * + *:hover) {
    @apply brightness-[.2];
    transform: translateZ(50px) rotateY(-10deg);
}