:root {
    --neon-pink: #FF10F0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100svh;
}

#todo-container {
    padding: 25px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 25px;
    color: var(--neon-pink);
    text-shadow: 0px 0px 10px var(--neon-pink);
    text-transform: uppercase;
}

#task-input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#task-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

#error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 15px;
    display: none;
    text-align: center;
}

#add-task-btn {
    width: 100%;
    padding: 12px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#add-task-btn:hover {
    background-color: #218838;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #f8f9fa;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #e9ecef;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 6px 10px;
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.delete-btn:hover {
    background-color: #c82333;
    box-shadow: 0 0 8px rgba(220, 53, 69, 0.2);
}

.error-placeholder::placeholder {
    color: red;
}